:root {
/* ## Colors

### Primary */

--StrongCyan: hsl(172, 67%, 45%);
--StrongCyanSelect: hsl(172, 100%, 65%);

/* ### Neutral */

--VeryDarkCyan: hsl(183, 100%, 15%);
--DarkGrayishCyan: hsl(186, 14%, 43%);
--GrayishCyan: hsl(184, 14%, 56%);
--LightGrayishCyan: hsl(185, 41%, 84%);
--VeryLightGrayishCyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: space mono;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
}
#error-message {
    font-size: 11px;
    color: red;
    padding-left: 20px;
    position: absolute;
}

.hidden {
    display: none
}

.input-main {
    background-color: var(--VeryLightGrayishCyan);
    width: 95%;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;;
    text-align: right;
    color: var(--DarkGrayishCyan);
}



body {
    width: 100%;
    height: 100vh;
    place-items: center;
    background-color: var(--LightGrayishCyan);
    align-content: center;
}

.calc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 2fr 1fr;
    width: 900px;
    height: auto;
    background-color: var(--White);
    padding: 30px;
    border-radius: 20px;
    overflow: hide;
    margin-top: 50px;
}

.bill-input {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bill-input::placeholder {
    text-align: right;
}

.select-tip {
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
}

.perc-win-grid {
    grid-column: 1 / 2;
    grid-row: 3 / 4;   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    margin-right: 20px;
}

.no-people {
    grid-column: 1 / 2;
    grid-row: 4 / 5;   
}


.percentage-window {
    width: 110px;
    height: 50px;
    border-radius: 8px ;
    background-color: var(--VeryDarkCyan);
    text-align: center;
    align-content: center;
    color: var(--White);
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}
.custom-window {
    width: 110px;
    height: 50px;
    border-radius: 8px ;
    text-align: center;
    align-content: center;
    color: var(--White);
    font-size: 18px;
    font-weight: 900;
}

.custom-input {
    width: 100%;
    height: 100%;
    background-color: var(--VeryLightGrayishCyan);
    border-radius: 8px;
    padding-left: 15%;
    font-size: 18px;
    font-weight: 900;
    color: var(--DarkGrayishCyan);
    border: 2px solid var(--StrongCyan);   
}

.custom-input::placeholder {
    text-align: start;
}

.people-input {
    background: url(images/icon-person.svg) no-repeat 30px;
}
.people-input::placeholder {
    text-align: right;
}
.result-window {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--VeryDarkCyan);
    border-radius: 8px;
    padding: 20px;
}

.person-result {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: var(--LightGrayishCyan)
}
.total-result {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: var(--LightGrayishCyan)
}

.pers-result-var {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 50px;
    font-weight: 900;
    color: var(--StrongCyan)
}
.tot-result-var {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 50px;
    font-weight: 900;
    color: var(--StrongCyan)
}
#reset-button {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    border-radius: 8px;
    height: 70%;
    align-self: end;
    cursor: pointer;
    background-color: var(--StrongCyan);
    font-size: 25px;
}
  
.active {
    background-color: var(--StrongCyanSelect);
    color: var(--DarkGrayishCyan);
    transform: scale(0.95);
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 850px) {

    .result-window {

    grid-template-rows: repeat(3, 1fr);
    }

    #reset-button {
        grid-row: 3 / 4;
    }

    .calc-container {
        width: 500px;
    }


    .bill-input {

        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .select-tip {
        grid-column: 1 / 3 ;
        grid-row: 2 / 3;
    }

    .perc-win-grid {
        grid-column: 1 / 3;
        grid-row: 3 / 4;   
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-right: 0px;
    }

    .no-people {
        grid-column: 1 / 3;
        grid-row: 4 / 5;   
    }
    .result-window {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
}

@media (max-width: 600px) {


  
    .calc-container {
        width: 85vw;
    }
    .pers-result-var{
        font-size: 35px;
    }    
    .tot-result-var {
        font-size: 35px;
        }

        .percentage-window {
            width: 100px;
            height: 50px;
}

.custom-window {
    width: 100px;
}}

@media (max-width: 500px) {
    #per-var {
        font-size: 35px
    }

    .tot-var {
        font-size: 35px
    }
    #error-message {
        font-size: 9px;
    }
}



@media (max-width: 300px) {


  


        .percentage-window {
            width: 85px;
            
}

.custom-window {
    width: 85px;
}}